# Git
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
coverage
.nyc_output

# Build
dist
*.tsbuildinfo

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Misc
README.md
LICENSE
*.md
*.log
.DS_Store 
